.dndflow {
    flex-direction: column;
    flex-grow: 1;
    color: black;
}

.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .dndflow {
        flex-direction: row;
    }
}